h1{
  font-family: "Time New Roman";
}

p{
  font-family: cursive;
}

body{
  font-size:20px;
}

#two{
  font-size: 1.0em;
}

p{
  font-family: 'Licorice', cursive;
}

h1{
  text-align: center;
}
